@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
  color: #575757;
  font-weight: bold;
  margin-top: 140px;
}
h2 {
  font-size: 30px;
  color: #707070;
  font-weight: bold;
  margin-top: 140px;
}
p {
  color: #828282;
  margin-top: 50px;
}

.flex-container {
  display: flex;
  margin-bottom: 80px;
}
.orange-color {
  color: #fba24f;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 100%;
}

.grad-button {
  text-decoration: none;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  padding: 15px 35px;
  border: none;
  border-radius: 60px;
  color: white;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}

.top-banner {
  background-image: url(images/shapes/Group\ 88.png);
  background-repeat: no-repeat;
  background-position: right;
}

.about-area {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-position: top;
}
#person-image {
  width: 75%;
  height: 82.5%;
}
.recipie-area {
  margin-top: 100px;
}
.recipie-area h2 {
  text-align: center;
}
.recipie-area p {
  text-align: center;
}
.recipie-item {
  width: 33%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
.recipie-item img {
  padding-top: 20px;
  width: 100%;
}
.recipie-item .title-text {
  font-size: 22px;
  color: #18191f;
  margin-top: 10px;
  text-align: left;
}
.recipie-item p {
  text-align: left;
  margin-top: 0;
  font-size: 14px;
  color: #18191f;
}

footer {
  background-color: #0b0d17;
  text-align: center;
  padding: 5px 0px 20px;
}
